/* * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
} */

body {
	padding-top: 60px;
	font-family: Arial, Helvetica, sans-serif;
}

#navOutput {
	position: fixed;
	top: 2%;
	left: 0%;
	width: 98%;
	text-align: center;
}

ul {
	list-style-type: none;
	display: inline-block;
	overflow: hidden;
	background-color: navy;
	margin: 3px;
	padding: 3px;
	border: 1px solid #F7F4E9;
}

li {
	list-style: none;
	display: inline-block;
	overflow: hidden;
	border: 2px solid #F7F4E9;
}

a {
	display: block;
	padding: 10px 40px;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	color: fade(white, 80%);
	text-align: center;
}
	
li a:hover{
		color: white;
	}

li a:active {
	background-color: navy;
}

.liOne {
	background-color: #EBA63F;
}
.liTwo {
	background-color: #3CBCC3;
}
.liThree {
	background-color: #438945;
}
.liFour {
	background-color: #E40C2B;
}
.liFive {
	background-color:  #EBA63F;
}

.headerH1 {
	margin-top: 2px;
}

.headerH2 {
	margin-top: 2px;
}

.headerH3 {
	margin-top: 16px;
	padding-bottom: 0;
}

.headerH4 {
	margin-bottom: 2px;
}

.btnClass {
	margin-top: 10px;
	
}
.listItemContainer {
	display: block;	
}

.listItem {
	display: inline-block;
	margin-right: 8px;
	margin-top: 8px;
}

.addContainer {
	margin-top: 70px;
	display: flex;
	flex-wrap: wrap; 
	flex-direction: column;
}

.editContainer {
	display: flex;
	flex-wrap: wrap; 
	flex-direction: column;
}

	